[submodule "tools/clang"]
	path = tools/clang
	url = https://msresearch.visualstudio.com/DefaultCollection/Autobahn/_git/checkedc-clang
[submodule "projects/checkedc-wrapper/checkedc"]
	path = projects/checkedc-wrapper/checkedc
	url = https://msresearch.visualstudio.com/DefaultCollection/Autobahn/_git/checkedc
